<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DanismanLazim.Properties.Settings.danismanlazimConnectionString"
            connectionString="Data Source=viananya.database.windows.net;Initial Catalog=danismanlazim;User ID=viananya;Password=&quot;951753123789a!.'&quot;"
            providerName="System.Data.SqlClient" />
        <add name="DanismanLazim.Properties.Settings.viananyav2ConnectionString"
            connectionString="Data Source=viananyav2.database.windows.net;Initial Catalog=viananyav2;Persist Security Info=True;User ID=viananyav2;Password=951753123789a."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>